/* COGS3 studyBuddy specific styles go here. */

#title {
  background-color: #8fdbf2;
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 100%;
  transform: rotate(-5deg);
}

/* Add more styles as needed */
